html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

p ,a{
   font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}



#banner {
   text-align: center;
   max-width: 500px;
   margin: 0 auto;
   padding-bottom: 10px;
   
}

#banner h1 {
  font-family: "bellotalight",  Arial, sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin: auto;
}

#menu {
	display: table;
	white-space: nowrap;
    margin: auto;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
	border: 2px;
	border-style: solid;
	border-color: #000;
    border-radius: 8px;
	margin-bottom: 2cm;
	margin-top: 15px;
}

#menu ul {
    height: auto;
    padding: 8px 8px 8px 8px;
    margin: 0px;
}

#menu li { 
	display: inline; 
	padding: 8px 8px 8px 8px;
	border-left: 1px solid #202020;
}

#menu li:first-child {
    border: 0;
}

#menu a {
    text-decoration: none;
    color: #000;
    padding: 8px 8px 8px 8px;
}

#menu a:hover {
    text-decoration: underline;
}


#mygit,#mylinkedin{
	height: auto;
	text-align: center;
}

#gitlogo{

	max-width: 150px;
}

#linkedinlogo{

	max-width: 75px;
}


#thanks{
    height: auto;
	text-align: center;
}

 #wrapper
{margin: 0 auto; width: 750px;} 
   
#resume {
	
    font-size: 14px;
    font-family: Tahoma, Geneva, sans-serif;
    margin-left:7%;
	margin-bottom: 2cm;
	
 }

#personalinfo ul{
margin: 0;
padding: 0;

}


#personalinfo{
  width: 650px;
  text-align: center;
}

#personalinfo li{
display: inline;
}



.dates { margin:0px; padding:0px;  overflow: hidden; width:650px;}
.left { float:left; width:350px; }
.right { float:right; width:250px; }

.table { margin:0px; padding:0px; overflow: hidden; width:500px;}
.coursesleft { float:right; width:250px;  }


.project ul 
{   list-style: disc outside none; 
    margin-left: 0; 
    padding-left: 1em;}

.project li{

 width: 725px;
} 	

hr {
    width:725px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


