p{
   font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

#banner {
   text-align: center;
   max-width: 500px;
   margin: 0 auto;
}

#banner h1 {
  font-family: "bellotalight",  Arial, sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin: auto;
}

#menu {
	display: table;
	white-space: nowrap;
    margin: auto;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
	border: 2px;
	border-style: solid;
	border-color: #000;
    border-radius: 8px;
}

#menu ul {
    height: auto;
    padding: 8px 8px 8px 8px;
    margin: 0px;
}

#menu li { 
	display: inline; 
	padding: 8px 8px 8px 8px;
	border-left: 1px solid #202020;
}

#menu li:first-child {
    border: 0;
}

#menu a {
    text-decoration: none;
    color: #000;
    padding: 8px 8px 8px 8px;
}

#menu a:hover {
    text-decoration: underline;
}


#mygit,#mylinkedin{
	height: auto;
	text-align: center;
}

#gitlogo{
	max-width: 150px;
}

#linkedinlogo{
	max-width: 75px;
}


#page-wrap {
	width: 660px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 300px;
	height: auto !important;
	height: 300px;
	border: 1px;
	border-style: solid;
	border-color: #000;
    border-radius: 8px;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}


label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1em;
}