
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
    font-family: 'bellotalight';
    src: url('Bellota-Light-webfont.eot');
    src: url('Bellota-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Bellota-Light-webfont.woff') format('woff'),
         url('Bellota-Light-webfont.ttf') format('truetype'),
         url('Bellota-Light-webfont.svg#bellotalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gasparregular';
    src: url('Gaspar_Regular-webfont.eot');
    src: url('Gaspar_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Gaspar_Regular-webfont.woff') format('woff'),
         url('Gaspar_Regular-webfont.ttf') format('truetype'),
         url('Gaspar_Regular-webfont.svg#gasparregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#wrap{
	background-color: #FFFFFF;
	position: relative;
	margin:0 auto;
    width:960px;
     border: 1px solid #888;
    padding: 1px;
    box-shadow: 0 0 10px #000;
}


p ,a, li{
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
}


h2 {font-family: 'gasparregular', Helvetica, sans-serif;}

a.top {
	position: relative;
	top:0px;
	display: block;
	height: 0;
	width:0;
}

#banner {
   text-align: center;
   max-width: 500px;
   margin: 0 auto;
   margin-bottom: 25px;
   
}

#banner h1 {
  font-family: "bellotalight",  Arial, sans-serif;
  font-weight: bold;
  font-size: 50px;
 
}


#menu {
	position:relative;
	z-index: 2;
	background-color: rgba(255, 255, 255, 1); 
	display: table;
	white-space: nowrap;
    margin: auto;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
	border: 2px;
	border-style: solid;
	border-color: #9C9CA5;
    border-radius: 8px;

	
}

#menu ul {
    height: auto;
	margin: auto;
    padding: 8px 8px 8px 8px;
}

#menu li { 
	display: inline; 
	padding: 8px 8px 8px 8px;
	border-left: 1px solid #9C9CA5;
}

#menu li:first-child {
    border: 0;
}

#menu a {
    text-decoration: none;
    color: #000;
    padding: 8px 8px 8px 8px;
}

#menu a:hover {
    text-decoration: underline;
}



#content-divider hr{
    position: absolute;
	z-index: 1;
	top:6.5%;
    width: 100%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    
}


#resume-wrapper{

	 margin: 0 auto; 
	 width: 750px;
	 margin-top: 75px;
	 } 
	
   
#resume {
	
	margin-top: 35px;
	margin-bottom: 35px;
	
 }

 #resume-wrapper h2 {
  font-size:40px;
  text-align:center;
 }
 
 
#personalinfo ul{
margin: 0;
padding: 0;

}


#personalinfo{
  text-align: center;
}

#personalinfo li{
display: inline;
}

#pdfversion{
text-align: center;
margin-bottom: 75px;
}


#pdfversion a{
    color: #03c;
    -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
     -o-transition: 0.5s;
     -ms-transition: 0.5s;
     transition: 0.5s;
}
 
#pdfversion a:hover {
    color: #fff;
    text-shadow: -1px 1px 5px #03c, 1px -1px 5px #03c;
}

.dates { margin:0px; padding:0px;  overflow: hidden; width:650px;}
.left { float:left; width:390px;}
.right { float:right; width:250px; text-align: center;}

.table { margin:0px; padding:0px; overflow: hidden; width:500px;}
.coursesleft { float:left; width:250px;  }
.coursesright { float:right; width:250px; }


.project ul 
{   list-style: disc outside none; 
    margin-left: 0; 
    padding-left: 1em;}

.project li{

 width: 725px;
} 	

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



#contactinfo{
	text-align:center;

background: rgb(254,255,232); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,255,232,1) 0%, rgba(214,219,191,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,232,1)), color-stop(100%,rgba(214,219,191,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-9 */

	padding-top: 5%;
	padding-bottom: 13%;
}

#contactinfo h2{
	font-size: 40px;
}


#form-wrap {
	width: 660px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 300px;
	height: auto !important;
	height: 300px;
	border: 1px;
	border-style: solid;
	border-color: #000;
    border-radius: 8px;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-size: 1em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}


/* Pulse Shrink */
@-webkit-keyframes pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}


/*! Button effect:
 * Hover.css (http://ianlunn.co.uk/)
 * Version: 1.0.8
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014.
 */
.pulse-shrink {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pulse-shrink:hover, .pulse-shrink:active {
  -webkit-animation-name: pulse-shrink;
  animation-name: pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  
}

#contact-area input.submit-button {
	font-family: 'gasparregular', Helvetica, sans-serif;
	width: 100px;
	float: right;
	border:1px #333 solid;   
    padding:5px;
	background-color: white;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
}

#contact-area input.submit-button:hover{
	background: rgb(242,246,248); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 28%, rgba(181,198,208,1) 55%, rgba(224,239,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(28%,rgba(216,225,231,1)), color-stop(55%,rgba(181,198,208,1)), color-stop(100%,rgba(224,239,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 28%,rgba(181,198,208,1) 55%,rgba(224,239,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 28%,rgba(181,198,208,1) 55%,rgba(224,239,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 28%,rgba(181,198,208,1) 55%,rgba(224,239,249,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 28%,rgba(181,198,208,1) 55%,rgba(224,239,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


#contact-area input.submit-button:focus {
    outline: 0;
}

#mygit,#mylinkedin{
	height: auto;
	text-align: center;
}

#gitlogo{

	max-width: 150px;
}

#linkedinlogo{
	max-width: 75px;
	margin-left:1%;
	
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1em;
}




#thanks{
text-align: center;
margin-top: 75px;
}

footer {text-align:center;}



body {
background: rgb(222,239,255); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(222,239,255,1) 0%, rgba(152,190,222,1) 62%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(62%,rgba(152,190,222,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 62%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 62%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 62%); /* IE10+ */
background: linear-gradient(135deg,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 62%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

